$theme-colors: (
        "primary": #009688,
        "danger": #f44336,
        "darkcyan": #005656,
        "mauve": #4D1256
);
@import 'node_modules/bootstrap/scss/bootstrap';
.shopping-item-card {
  height: 450px;
  border: 1px solid #a0a0a0;

  .item-img-container {
    height: 250px;
  }

  .item-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    justify-self: end;
  }

  &:hover {
    -webkit-box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 14px 1px rgba(250, 226, 226, 0.75);
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.75);
    transform: translateY(-5px);
    transition: all 500ms ease-out;
  }
}

.basket {
  position: fixed;
  height: 100%;
  top: 0;
  right: -800px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 4;
  transition: right 450ms ease-out;
  @include media-breakpoint-up(lg) {
    width: 400px;
  }
  &.show {
    right: 0;
  }
}

.search-filters {
  transition: left 450ms ease-in-out;
  @include media-breakpoint-down(md) {
    left: -126px;
    width: 112px;
    z-index: 3;
  }
  &.show {
    left: 0;
  }
}